.section-tabs {
  &-item {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    // overflow-y: scroll;
    transition: display 0.5s ease-in;
    &.active {
      display: block;
    }
  }
  .home-p {
    padding: 386px 0 0 0;
    background-image: url(/assets/img/page-img/page-1.jpg);
    .home-container {
      display: flex;
      justify-content: space-between;
      &__subject {
        max-width: 450px;
        h1 {
          margin: 24px 0 24px 0;
        }
      }
      &__btn {
        display: flex;
        align-items: end;
        // z-index: 3;
        .home-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 274px;
          height: 274px;
          border-radius: 50%;
          background-color: var(--tertiary);
          transition: outline 0.5s ease;
          h3 {
            color: var(--primary);
          }
          &:hover {
            cursor: pointer;
            outline: 88px solid rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
  .dest-p {
    padding: 220px 0 0 0;
    background-image: url(/assets/img/page-img/page-2.jpg);
    .dest-container {
      &__planets {
        display: flex;
        justify-content: space-between;
        .dest-img {
          display: none;
          align-items: end;
          justify-content: center;
          margin-right: 20px;
          &.active {
            display: flex;
          }
        }
        .dest-subject {
          max-width: 444px;
          &__nav {
            display: flex;
            gap: 29px;
            margin-bottom: 70px;
            li {
              cursor: pointer;
              &.active {
                position: relative;
                &::after {
                  position: absolute;
                  content: " ";
                  bottom: -12px;
                  left: -7px;
                  width: 100%;
                  height: 3px;
                  margin-left: 6px;
                  background-color: #c4c4c4;
                }
              }
            }
          }
          &__content {
            display: none;
            p {
              color: #d0d6f9;
              padding: 43px 0 54px 0;
            }
            .distance-items {
              display: flex;
              justify-content: space-between;
              border-top: 2px solid #383b4b;
              padding: 28px 90px 0 0;
              &__item {
                p {
                  padding: 0 0 12px 0;
                }
              }
            }
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
  .crew-p {
    padding: 220px 0 0 0;
    background-image: url(/assets/img/page-img/page-3.jpg);
    .crew-container {
      &__content {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #383b4b;
        .crew-subject {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: end;
          height: 594px;
          &__title {
            margin-bottom: 120px;
            .crew-title {
              display: none;
              h4 {
                opacity: 0.5;
              }
              h3 {
                padding: 15px 0 27px 0;
              }
              p {
                width: 444px;
                color: #d0d6f9;
              }
              &.active {
                display: block;
              }
            }
          }
          .crew-list {
            display: flex;
            gap: 24px;
            margin-bottom: 94px;
            li {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background-color: #979797;
              cursor: pointer;
              &.active {
                background-color: #ffffff;
              }
            }
          }
        }
        .crew-imgs {
          &__items {
            display: none;
            margin-top: -50px;
            width: 555px;
            height: 654px;
            text-align: center;
            img {
              width: 100%;
              height: 100%;
            }
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
  .tech-p {
    padding: 220px 0 0 0;
    background-image: url(/assets/img/page-img/page-4.jpg);
    .tech-container {
      &__content {
        display: flex;
        justify-content: space-between;
        .tech-subject {
          display: flex;
          align-items: center;
          gap: 80px;
          width: 100%;
          &__round {
            .tech-item {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              border: 1px solid white;
              &:not(:last-child) {
                margin-bottom: 32px;
              }
              &.active {
                background-color: #ffffff;
                p {
                  color: #0b0d17;
                }
              }
            }
          }
          &__title {
            max-width: 470px;
            .tech-title {
              display: none;
              p {
                opacity: 0.5;
              }
              h6 {
                margin: 11px 0 17px 0;
              }
              &.active {
                display: block;
              }
            }
          }
        }
        .tech-imgs {
          margin-left: 15px;
          &__items {
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .section-tabs {
    .home-p {
      padding: 260px 0 0 0;
    }
    .dest-p {
      padding: 150px 0 0 0;
      .dest-container {
        &__planets {
          .dest-img {
            align-items: start;
          }
          .dest-subject {
            &__nav {
              margin-bottom: 50px;
            }
            &__content {
              p {
                padding: 10px 0 25px 0;
              }
            }
          }
        }
      }
    }
    .crew-p {
      padding: 150px 0 0 0;
      .crew-container {
        &__content {
          .crew-subject {
            height: 494px;
            &__title {
              margin-bottom: 60px;
            }
          }
          .crew-imgs {
            &__items {
              margin-top: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .tech-p {
      padding: 150px 0 0 0;
      .tech-container {
        .d-c-t-title {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 1215px) {
  .section-tabs {
    .tech-p {
      .tech-container {
        &__content {
          .tech-subject {
            gap: 25px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .section-tabs {
    .home-p {
      padding: 202px 0 0 0;
      background-image: url(/assets/img/page-img/page-1-1.jpg);
      .home-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 650px;
        &__subject {
          text-align: center;
          margin-bottom: 156px;
        }
        &__btn {
          margin-bottom: 90px;
          .home-btn {
            width: 242px;
            height: 242px;
          }
        }
      }
    }
    .dest-p {
      padding: 140px 0 0 0;
      .dest-container {
        &__planets {
          flex-direction: column;
          align-items: center;
          padding-bottom: 90px;
          .dest-img {
            margin: 0 0 58px 0;
            img {
              width: 300px;
              height: 300px;
            }
          }
          .dest-subject {
            text-align: center;
            &__nav {
              justify-content: center;
            }
            &__content {
              .distance-items {
                justify-content: space-around;
                padding: 28px 0px 0 0;
              }
            }
          }
        }
      }
    }
    .crew-p {
      padding: 140px 0 0 0;
      .crew-container {
        &__content {
          flex-direction: column;
          .crew-subject {
            height: max-content;

            justify-content: start;
            &__title {
              text-align: center;

              .crew-title {
                p {
                  width: 100%;
                  color: #d0d6f9;
                  padding: 0 60px 0 60px;
                }
              }
            }
            .crew-list {
              justify-content: center;
              margin-bottom: 40px;
            }
          }
          .crew-imgs {
            &__items {
              img {
                max-width: 462px;
                height: 572px;
              }
            }
          }
        }
      }
    }
    .tech-p {
      padding: 140px 0 0 0;
      .tech-container {
        .d-c-t-title {
          margin: 0 0 60px 40px;
        }
        &__content {
          flex-direction: column-reverse;
          .tech-subject {
            flex-direction: column;
            &__round {
              display: flex;
              gap: 16px;
            }
            &__title {
              text-align: center;
            }
          }
          .tech-imgs {
            margin: 0 0 56px 0;
            &__items {
              img {
                width: 100%;
                height: 450px;
                object-fit: cover;
                object-position: 20% 80%;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .section-tabs {
    .home-p {
      padding: 112px 0 0 0;
      background-image: url(/assets/img/page-img/page-1-1.jpg);
      .home-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        &__subject {
          margin-bottom: 81px;
         
        }
        &__btn {
          margin-bottom: 50px;
          .home-btn {
            width: 242px;
            height: 242px;
          }
        }
      }
    }
    .dest-p {
      padding: 90px 0 0 0;
      .dest-container {
        &__planets {
          align-items: center;
          padding-bottom: 0;
          .dest-img {
            margin: 0 0 26px 0;
            img {
              width: 170px;
              height: 170px;
            }
          }
          .dest-subject {
            text-align: center;
            &__nav {
              margin-bottom: 30px;
              gap: 26px;
            }
          }
        }
      }
    }
    .crew-p {
      padding: 90px 0 0 0;
      .crew-container {
        &__content {
          flex-direction: column-reverse;
          border: none;
          .crew-subject {
            flex-direction: column-reverse;
            &__title {
              .crew-title {
                p {
                  padding: 0 20px 0 20px;
                }
              }
            }
            .crew-list {
              justify-content: center;
              margin-bottom: 40px;
            }
          }
          .crew-imgs {
            &__items {
              border-bottom: 2px solid #383b4b;
              margin-bottom: 32px;
              img {
                max-width: 327px;
                height: 333px;
              }
            }
          }
        }
      }
    }
    .tech-p {
      padding: 90px 0 0 0;
      .tech-container {
        .d-c-t-title {
          margin-bottom: 32px;
        }
        &__content {
          flex-direction: column-reverse;
          .tech-subject {
            &__round {
              .tech-item {
                width: 40px;
                height: 40px;
                &:not(:last-child) {
                  margin-bottom: 0;
                }
              }
            }
            &__title {
              text-align: center;
            }
          }
          .tech-imgs {
            margin: 0 0 32px 0;
            &__items {
              img {
                height: 270px;
                object-position: 50% 90%;
              }
            }
          }
        }
      }
    }
  }
}
