.section-tabs {
  &-item {
    position: absolute;
    top: -34px;
    display: none;
    width: 100%;
    height: 100vh;
    transition: display 0.5s ease-in;
    // overflow-y: scroll;
    &.active {
      display: block;
    }
  }
  .home-p {
    padding: 386px 0 0 0;
    background-image: url(/assets/img/page-img/page-1.jpg);
    .home-container {
      display: flex;
      justify-content: space-between;
      &__subject {
        max-width: 450px;
        h1 {
          margin: 24px 0 24px 0;
        }
      }
      &__btn {
        display: flex;
        align-items: end;
        z-index: 3;
        .home-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 274px;
          height: 274px;
          border-radius: 50%;
          background-color: var(--tertiary);
          transition: outline 0.5s ease;
          h3 {
            color: var(--primary);
          }
          &:hover {
            cursor: pointer;
            outline: 88px solid rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
  .dest-p {
    padding: 220px 0 0 0;
    background-image: url(/assets/img/page-img/page-2.jpg);
    .dest-container {
      &__title {
        display: flex;
        margin-bottom: 64px;
        span {
          font-weight: 700;
          opacity: 0.25;
          margin-right: 28px;
        }
      }
      &__planets {
        display: flex;
        justify-content: space-between;
        .dest-img {
          display: none;
          align-items: end;
          justify-content: center;
          &.active{
            display: flex;
          }
        }
        .dest-subject {
          width: 444px;
          &__nav {
            display: flex;
            gap: 29px;
            margin-bottom: 70px;
            li {
              &.active {
                position: relative;
                &::after {
                  position: absolute;
                  content: " ";
                  bottom: -12px;
                  left: -7px;
                  width: 100%;
                  height: 3px;
                  margin-left: 6px;
                  background-color: #c4c4c4;
                }
              }
            }
          }
          &__content {
            display: none;
            p {
              color: #d0d6f9;
              padding: 43px 0 54px 0;
            }
            .distance-items {
              display: flex;
              justify-content: space-between;
              border-top: 2px solid #383b4b;
              padding: 28px 90px 0 0;
              &__item {
                p {
                  padding: 0 0 12px 0;
                }
              }
            }
            &.active{
              display: block;
            }
          }
        }
      }
    }
  }
}
