@import "./base";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
// font-family: 'Barlow Condensed', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
// font-family: 'Barlow', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
// font-family: 'Bellefair', serif;
:root {
  --primary: #0b0d17;
  --secondary: #d0d6f9;
  --tertiary: #ffffff;
}
//h1
.f-150 {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 150px;
  // line-height: 172px;
  color: var(--tertiary);
}

//planets-fonts
.f-100 {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 100px;
  // line-height: 115px;
  color: var(--tertiary);
}
//crew-1-fonts
.f-28 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 4.725px;
  color: var(--secondary);
}
//crew-2-fonts
.f-32 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--tertiary);
}
//crew-3-fonts
.f-56 {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 56px;
  text-transform: uppercase;
  color: var(--tertiary);
}
//dest-fonts-3
.s-f-28 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--tertiary);
}
//dest-fonts-4
.s-f-14 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: var(--tertiary);
}
//nav-planet-fonts
.n-f-16 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--tertiary);
}
//body-text
.f-b-18 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--tertiary);
}
//title-all-page
.d-c-t-title {
  display: flex;
  margin-bottom: 64px;
  span {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 28px;
  }
}
//body-color
body {
  background-color: #0b0d17;
}
//container
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container-b {
  max-width: 1120px;
  margin: 0 auto;
}
.back-g-p {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.animate {
  opacity: 0;
  animation: slideIn 0.5s forwards;
}
.hamburger {
  top: 50%;
  left: 10%;
  width: 100%;
  height: 5px;
  background: #fcfcfc;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -12px;
}

.hamburger:after {
  top: 12px;
}

.nav__burger {
  display: none;
  width: 30px;
  height: 21px;
  position: absolute;
  right: 40px;
  top: 34px;
  z-index: 10;
}
.hamburger-one:before,
.hamburger-one:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #fcfcfc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.nav__burger.active .hamburger-one {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.nav__burger.active .hamburger-one:before {
  top: 0;
  transform: rotate(45deg);
}

.nav__burger.active .hamburger-one:after {
  top: 0;
  transform: rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 1366px) {
  .container {
    max-width: 95%;
  }
  .container-b {
    max-width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  .f-100 {
    font-size: 80px;
  }
  .f-28 {
    font-size: 20px;
  }
  .f-b-18 {
    font-size: 16px;
    line-height: 28px;
  }
  .s-f-28 {
    font-size: 20px;
  }
  .container {
    max-width: 100%;
  }
  .d-c-t-title {
    margin-bottom: 60px;
    span {
      margin-right: 20px;
    }
  }
}
@media only screen and (max-width: 550px) {
  .f-100 {
    font-size: 56px;
  }
  .f-150 {
    font-size: 80px;
  }
  .s-f-28 {
    font-size: 16px;
  }
  .f-b-18 {
    font-size: 15px;
    line-height: 25px;
  }
  .f-32 {
    font-size: 16px;
  }
  .f-56 {
    font-size: 24px;
  }
  .n-f-16 {
    font-size: 14px;
  }
  .f-28 {
    font-size: 16px;
  }
  .nav__burger {
    display: block;
  }
  .d-c-t-title {
    justify-content: center;
    margin-bottom: 32px;
  }
}
@import "./nav";
@import "./nav-tabs";
